.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:100%;
	width:100%;
}
.style-admin{
    position: fixed;
    z-index:1000;
    padding-top: 7.5rem;
}
.style-router{
    padding-left: 4rem;
  }
.footer-fixed {
    bottom: 0;
    width: 100%;
}
  