<div *ngIf="isAdminSign_in">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div>        
</div>
<div *ngIf="isAdminUsers">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div>        
</div>
<div *ngIf="isAdminUsersEdit">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div>        
</div>
<div *ngIf="isAdminActivateUsers">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
<div *ngIf="isAdminActivate">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
<div *ngIf="isAdminRegister">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
<div *ngIf="isAdminExercise">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
<div *ngIf="isAdminRutina">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
<div *ngIf="isAdminAssignRoutines">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
<div *ngIf="isAdminEstadisticas">
    <app-nav-bar class="menu-fixed"></app-nav-bar>
    <div>
        <app-admin class="style-admin"></app-admin>
        <div class="style-router">
            <router-outlet></router-outlet>
        </div>
    </div> 
</div>
<div *ngIf="!isAdminSign_in && !isAdminUsers && !isAdminUsersEdit && !isAdminActivateUsers && !isAdminActivate && !isAdminRegister && !isAdminExercise && !isAdminRutina && !isAdminAssignRoutines && !isAdminEstadisticas">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>
