<div style="display: flex;">
  <body>
    <div class="card" style="width: 280px;">
      <h5 class="card-title">Ingreso y Salida</h5>
      <form [formGroup]="loginForm" autocomplete="off">
        <div class="section-flex">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Documento</mat-label>
              <input matInput formControlName="cedula" type="text" autocomplete="off" required
                placeholder="Digita # de Documento" />
              <mat-error *ngIf="cedula.errors?.pattern">Documento incorrecto</mat-error>
              <mat-error *ngIf="cedula.errors?.required">Documento requerido</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="section-flex">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Sede</mat-label>
              <mat-select matInput autocomplete="off" required placeholder="Seleccione su sede"
                formControlName="Sede_id_sede">
                <mat-option *ngFor="let sedes of registerService.sede | slice:1" value={{sedes.Id_sede}}>
                  {{sedes.Nombre_sede}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="sede.errors?.required">Sede requerida</mat-error>
            </mat-form-field>          
          </div>
        </div>
        <div class="form-label-group">
          <button [disabled]="!loginForm.valid" class="btn btn-block" id="btnLogin" (click)="sigin(loginForm)"
            type="button">Ingresar</button>
        </div>
        <br>
      </form>
    </div>
  </body>
  <div class="table">
    <ng2-smart-table [settings]="settings" [source]="registerService.personas"></ng2-smart-table>
  </div>
</div>
