body {
    background: linear-gradient(to right, #ffffff, #ffffff);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width:90%;
    margin: 0 auto;  
    padding-top: 16%; 
    margin-left: 8%;
}
  
.card{
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);    
    padding-top: 7px;
}
  
.card-title{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

#btnLogin {
    background-color: #00468f;
    padding: 8px 40px;
    width: 60%;
    color: white;    
    margin-left: 22%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#btnLogin:hover, #btnRegister:hover {
    color: white;
    border-radius: 8rem;
}

.form-group{
    margin-left: 15%;
    margin-right: 15%;
}

.table{
    padding-top: 12%;  
    width: 2500px; 
    margin-right: 5%;
}
 
:host/deep/ng2-smart-table thead > tr > th  { 
    background-color:#00468f;  
}

:host/deep/ng2-smart-table-title> a {
    color: white; 
}
  