<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a [routerLink]="['/admin/users']">
                    <i class="fa fa-users"></i>
                    <span class="nav-text">
                        Usuarios Gym
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a [routerLink]="['/admin/activate']">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="nav-text">
                        Usuarios Inactivos
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a [routerLink]="['admin/sign_in']">
                    <i class="fa fa-sign-in"></i>
                    <span class="nav-text">
                        Ingreso Usuarios
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a [routerLink]="['/admin/register']">
                    <i class="material-icons">person_add</i>
                    <span class="nav-text">
                        Registrar Administradores 
                    </span>
                </a>
            </li>            
            <li class="has-subnav">
                <a [routerLink]="['/admin/exercise']">
                    <i class="material-icons">fitness_center</i>
                    <span class="nav-text">
                        Crear ejercicios
                    </span>
                </a>                   
            </li>
            <li class="has-subnav">
                <a [routerLink]="['/admin/routines/']">
                    <i class="material-icons">directions_run</i>
                    <span class="nav-text">
                        Crear rutinas
                    </span>
                </a>                   
            </li>
            <li class="has-subnav">
                <a [routerLink]="['/admin/assignRoutines']">
                    <i class="material-icons">assignment_turned_in</i>
                    <span class="nav-text">
                        Asignar rutinas
                    </span>
                </a>                   
            </li>
            <li class="has-subnav">                
                <a [routerLink]="['/admin/estadisticas']">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-text">
                        Estadisticas
                    </span>
                </a>                    
            </li>
        </ul>                
    </nav>
</body>