<app-nav-bar></app-nav-bar>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a [routerLink]="['/admin/users']">
                    <i class="fa fa-users"></i>
                    <span class="nav-text">
                        Usuarios Gym
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-text">
                        Estadisticas
                    </span>
                </a>                    
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="nav-text">
                        Rutinas
                    </span>
                </a>                   
            </li>
        </ul>                
    </nav>
</body>
<app-footer></app-footer>