<body>
  <div style="position: absolute; top: 20%; left: 10%">
    <div style="display: flex;">
      <div class="card" style="width: 1200px;">
        <div style="text-align: center;">
          <br>
          <h5 class="card-title">Formulario registro de Administradores</h5>
          <form [formGroup]="registerForm">
            <div class="section-flex">
              <div class="form-group">
                <mat-form-field appearance="outline" style="width:325px !important">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="Nombre" type="text" autocomplete="off" required
                    placeholder="Digite sus nombres" />
                  <mat-error *ngIf="nombre.errors?.pattern">No cumple los parametros</mat-error>
                  <mat-error *ngIf="nombre.errors?.required">Nombre requerido</mat-error>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="width:325px !important">
                  <mat-label>Apellido</mat-label>
                  <input matInput formControlName="Apellido" type="text" autocomplete="off" required
                    placeholder="Digite sus Apellidos" />
                  <mat-error *ngIf="apellido.errors?.pattern">No cumple los parametros</mat-error>
                  <mat-error *ngIf="apellido.errors?.required">Apellido requerido</mat-error>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="width:400px !important">
                  <mat-label>Correo institucional</mat-label>
                  <input matInput formControlName="Correo" type="text" autocomplete="off" required
                    placeholder="Digite su correo institucional" />
                  <mat-error *ngIf="correo.errors?.pattern">No cumple los parametros</mat-error>
                  <mat-error *ngIf="correo.errors?.required">Correo requerido</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="section-flex">
              <div class="form-group">
                <mat-form-field appearance="outline" style="width:260px !important">
                  <mat-label>Numero de identificación</mat-label>
                  <input matInput formControlName="Cedula" type="text" autocomplete="off" required
                    placeholder="Digite su numero de identificación" />
                  <mat-error *ngIf="cedula.errors?.pattern">No cumple los parametros</mat-error>
                  <mat-error *ngIf="cedula.errors?.required">Documento requerido</mat-error>
                  <mat-error *ngIf="cedula.errors?.min">Documento demasiado corto</mat-error>
                  <mat-error *ngIf="cedula.errors?.max">Documento demasiado extenso</mat-error>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;
                <mat-form-field appearance="outline" style="width:255px !important">
                  <mat-label>Contraseña</mat-label>
                  <input matInput formControlName="Password" type="password" autocomplete="off" required
                    placeholder="Digite su contraseña" />
                  <mat-error *ngIf="password.errors?.minlength">Contraseña corta o insegura</mat-error>
                  <mat-error *ngIf="password.errors?.required">Contraseña requerida</mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
          <button [disabled]="!registerForm.valid" mat-raised-button class="btn" 
          id="btnRegister" (click)="addRegister(registerForm)" type="button">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</body>