<body *ngIf="disabled">
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a [routerLink]="['usuarios/rutinas']">
                    <i class="material-icons">directions_run</i>
                    <span class="nav-text">
                        Rutina
                    </span>
                </a>                   
            </li>
            <li class="has-subnav">                
                <a [routerLink]="['/usuarios/estadisticas']">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-text">
                        Estadisticas
                    </span>
                </a>                    
            </li>
        </ul>                
    </nav>
</body>