<body class="menu">
    <div class="container">
        <nav class="nav-main">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Logotipo_USTA_Colombia.gif" alt="TechNews Logo" class="nav-brand" style="width: 80px">
            <ul class= "nav-menu">            
                <li><a href="#" routerLink="/register">Registro</a></li>
                <li><a href="#" routerLink="/login">Iniciar Sesion</a></li>
            </ul>
        </nav>
    </div>
</body>
<body class="centro">
    <img class="Imag1" src="../../../assets/Imag2.png" alt="Imag1">
    <div class="texto">    
        <div class="texto1">
            <h2 class="al">al</h2>
            <h2 class="gimnasio">gimnasio</h2>
            <h2 class="usta">USTA</h2>
        </div>        
    </div> 
</body>
<app-footer></app-footer>

