<div style="display: flex; justify-content: space-around; " class="table">
    <ng2-smart-table [settings]="settingsRutina" [source]="RutinaService.rutina" (custom)="onCustom($event)">
    </ng2-smart-table>
    <ng2-smart-table [settings]="settings" [source]="registerService.personas" (userRowSelect)="onRowSelect($event)">
    </ng2-smart-table>
</div>
<a id="modalDelete" href="#" data-toggle="modal" data-target="#openModalDelete" mat-raised-button
  class="btn btn--success">
</a>
<div class="form-modal">
  <div class="modal fade" id="openModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-success">
        <div class="modal-header">
          <div class="alert-dialog-w">
            <div style="padding-bottom: 15px; text-align: center;">
              <img src="https://facultadderecho.usta.edu.co/images/Logo-USTA-19.png" style="width: 500px" />
            </div>
            <hr style="border: 1px solid #00468f">
            <br>
            <div style="text-align: center;">
              Esta seguro de querer eliminar la rutina del sistema
            </div>
            <br>
            <div>
              <div style="display: flex; justify-content: space-around;">
                <button id="btnAceptar" data-dismiss="modal" (click)="DeleteRutina()">Aceptar</button>
                <button id="btnCancelar" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="modalConfirm" href="#" data-toggle="modal" data-target="#openModalConfirm" mat-raised-button
  class="btn btn--success">
</a>
<div class="form-modal">
  <div class="modal fade" id="openModalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-success">
        <div class="modal-header">
          <div class="alert-dialog-w">
            <div style="padding-bottom: 15px; text-align: center;">
              <img src="https://facultadderecho.usta.edu.co/images/Logo-USTA-19.png" style="width: 500px" />
            </div>
            <hr style="border: 1px solid #00468f">
            <br>
            <div style="text-align: center;">
              Esta seguro de querer asignar esta rutina a los usuarios
            </div>
            <br>
            <div>
              <div style="display: flex; justify-content: space-around;">
                <button id="btnAceptar" data-dismiss="modal" (click)="ConfirmRutina()">Aceptar</button>
                <button id="btnCancelar" data-dismiss="modal">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="modalUsers" href="#" data-toggle="modal" data-target="#openModalUsers" mat-raised-button
  class="btn btn--success">
</a>
<div class="form-modal">
  <div class="modal fade" id="openModalUsers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content border-success">
        <div class="modal-header">
          <div class="alert-dialog-w">
            <div style="padding-bottom: 15px; text-align: center;">
              <img src="https://facultadderecho.usta.edu.co/images/Logo-USTA-19.png" style="width: 500px" />
            </div>
            <hr style="border: 1px solid #00468f">
            <br>
            <div style="text-align: center;">
              No ha seleccionado ningun usuario, Por favor seleccione alguno.
            </div>
            <br>
            <div>
              <div style="display: flex; justify-content: space-around;">
                <button id="btnAceptar" data-dismiss="modal">Aceptar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>