<body>
  <div class="menu">
    <div class="container">
      <nav class="nav-main">
        <img style="width: 500px" src="https://facultadderecho.usta.edu.co/images/Logo-USTA-19.png" alt="TechNews Logo">
        <ul style="flex: 1; margin-left: 200px;">
          <li><a class="hover" style="color: white" href="#" routerLink="/register">Registro</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div style="position: relative;">
    <img class="Imag1" src="../../../assets/Imag2.png" alt="Imag1">
    <div style="position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;">
      <div style="display: flex;">
        <div>
          <h2 class="Bienvenido">Bienvenido</h2>
          <div class="texto1">
            <h2 class="al">al</h2>
            <h2 class="gimnasio">gimnasio</h2>
            <br>
            <br>
            <h2 class="usta">USTA</h2>
          </div>
        </div>
        <div class="card" style="width: 300px;">
          <div>
            <h5 class="card-title">INGRESAR</h5>
            <form [formGroup]="loginForm" autocomplete="nope">
              <div class="section-flex">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="cedula" type="text" autocomplete="nope" required placeholder="Digita # de Documento" />
                    <mat-error *ngIf="cedula.errors?.pattern">Documento incorrecto</mat-error>
                    <mat-error *ngIf="cedula.errors?.required">Documento requerido</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="section-flex">
                <div class="form-group">
                  <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" autocomplete="nope" type="password" placeholder="Digita la contraseña"
                      required />
                    <mat-error *ngIf="password.errors?.required">Contraseña requerida</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <a href="#" (click)="$event.preventDefault();" data-toggle="modal" data-target="#recoveryPassword"
                style="margin-left: 10%; margin-right: 10%;">
                <u>¿Olvidaste tu contraseña?</u>
              </a>
              <br>
              <br>
              <div style="display: flex; justify-content: space-around;">
                <div>
                  <button [disabled]="!loginForm.valid" class="btn btn-block" id="btnLogin" (click)="login(loginForm)"
                    type="button">Login</button>
                </div>
                <div>
                  <button [routerLink]="['/register']" class="btn btn-block" id="btnRegister"
                    type="button">Registrarse</button>
                </div>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="form-modal">
      <div class="modal fade" id="recoveryPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content border-success">
            <div class="modal-header">
              <h5 id="titulomodal" class="modal-title" id="exampleModalLabel">
                <Strong>¿Olvidaste tu contraseña?</Strong>
              </h5>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="recovery">
                <div class="section-flex">
                  <p>Si el correo electronico especificado se encuentra registrado en el sistema se enviara un Email con un codigo que
                  permitira cambiar la contraseña.</p>
                  <mat-form-field appearance="outline" style="width:400px !important">
                    <mat-label>Correo institucional</mat-label>
                    <input matInput formControlName="correoRecovery" type="text" autocomplete="off"
                      placeholder="Digita el correo institucional" required />
                    <mat-error *ngIf="correoRecovery.errors?.pattern">Correo institucional incorrecto</mat-error>
                    <mat-error *ngIf="correoRecovery.errors?.required">Correo institucional requerido</mat-error>
                  </mat-form-field>
                  <div>
                    <button style="float: right;" [disabled]="!recovery.valid" (click)="recoveryCode();" class=" btn btn-info" type="button">
                      Enviar codigo
                    </button>
                  </div>
                </div>
              </form>
              <br>
              <hr>
              <h5><b> Cambiar contraseña</b> </h5>
              <form [formGroup]="changePassword">
                <p>Si ya recibio un codigo para cambio de contraseña, llene los siguientes campos.</p>
                <div class="row mt-5">
                  <div class="col-md-4 col-sm-12" style="text-align: initial;">
                    <div class="section-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>Correo institucional</mat-label>
                        <input matInput formControlName="correo" type="text" autocomplete="off"
                          placeholder="Digita el correo institucional" required />
                        <mat-error *ngIf="correo.errors?.pattern">Correo institucional incorrecto</mat-error>
                        <mat-error *ngIf="correo.errors?.required">Correo institucional requerido</mat-error>
                      </mat-form-field>
                    </div>
                  </div>                  
                  <!-- -------------------------key------- -->
                  <div class="col-md-4 col-sm-12">
                    <div class="section-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>Codigo cambio contraseña</mat-label>
                        <input matInput formControlName="key" type="text" autocomplete="off"
                          placeholder="Digita el codigo" required />
                        <mat-error *ngIf="key.errors?.required">Codigo requerido</mat-error>
                      </mat-form-field>
                    </div>
                  </div>                  
                  <!-- --------- nueva contraseña ---------- -->
                  <div class="col-md-4 col-sm-12">
                    <div class="section-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>Nueva contraseña</mat-label>
                        <input matInput formControlName="password" type="password" autocomplete="off"
                          placeholder="Digita la nueva contraseña" required />
                        <mat-error *ngIf="passwordNew.errors?.minlength">Contraseña corta o insegura</mat-error>
                        <mat-error *ngIf="passwordNew.errors?.required">Contraseña requerida</mat-error>
                      </mat-form-field>
                    </div>
                  </div>                  
                </div>
                <button style="float: right;" [disabled]="!changePassword.valid" (click)="recoveryPassword(changePassword);"
                  class=" btn btn-info" type="button">Cambiar contraseña</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>