body {
    background: linear-gradient(to right, #ffffff, #ffffff);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width:90%;
    margin: 0 auto;
    min-width:600px;
    max-width:2000px;
  }
  
  .card{
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);    
    min-width:100px;
    max-width:500px;
  }
  
  .card-title{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .card-body{
    padding: 2rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  #btnLogin{
    background-color: #07b0e4;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  #btnlogin:hover{
    color: white;
    border-radius: 10rem;
  }
  
  .form-label-group {   
    margin-left: 30%;
    margin-right: 30%;
  }
 
  .separador{
    padding-top: 114px;
    padding-bottom: 114px;
  }
  .form-group{
    margin-left: 20%;
    margin-right: 20%;
  }
