<body>
    <form [formGroup]="registerForm" novalidate>
        <div class="form-label-group">
            <label for="ejemplo">Cedula*</label>
            <input  type="text" class="form-control" name="Cedula" placeholder="Ingrese su Cedula" autofocus required formControlName="Cedula" maxlength="44">
            <div *ngIf="registerForm.get('Cedula').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('Cedula').errors['required']">
                    Cedula requerida
                </div>
                <div *ngIf="registerForm.get('Cedula').errors['pattern']">
                    Cedula requerida
                </div>
                <div *ngIf="registerForm.get('Cedula').errors['min'] && !registerForm.get('Cedula').errors['pattern']">
                    Cedula incorrecto
                  </div>
                <div *ngIf="registerForm.get('Cedula').errors['max'] && !registerForm.get('Cedula').errors['pattern']">
                    Cedula incorrecto
                </div>
            </div>
        </div> 
        <div class="form-label-group">
            <label for="ejemplo">Nombre*</label>
            <input  type="text" class="form-control" name="Nombre" placeholder="Ingrese su Nombre" autofocus required formControlName="Nombre" maxlength="44">
            <div *ngIf="registerForm.get('Nombre').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('Nombre').errors['required']">
                  Nombre requerido
                </div>
                <div *ngIf="registerForm.get('Nombre').errors['pattern']">
                  Nombre incorrecto
                </div>
            </div>
        </div> 
        <div class="form-label-group">
            <label for="ejemplo">Codigo*</label>
            <input  type="text" class="form-control" name="Codigo" placeholder="Ingrese su Codigo" autofocus required formControlName="Codigo" maxlength="44">
            <div *ngIf="registerForm.get('Codigo').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('Codigo').errors['required']">
                  Codigo requerido
                </div>
                <div *ngIf="registerForm.get('Codigo').errors['pattern']">
                  Codigo incorrecto
                </div>
            </div>
        </div>  
        <div class="form-label-group">
            <label for="ejemplo">Facultad*</label>
            <input  type="text" class="form-control" name="Facultad" placeholder="Ingrese su Facultad" autofocus required formControlName="Facultad" maxlength="44">
            <div *ngIf="registerForm.get('Facultad').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('Facultad').errors['required']">
                  Facultad requerida
                </div>
                <div *ngIf="registerForm.get('Facultad').errors['pattern']">
                  Facultad incorrecta
                </div>
            </div>
        </div> 
        <div class="form-label-group">
            <label for="ejemplo">Semestre*</label>
            <input  type="text" class="form-control" name="Semestre" placeholder="Ingrese su Semestre" autofocus required formControlName="Semestre" maxlength="44">
            <div *ngIf="registerForm.get('Semestre').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('Semestre').errors['required']">
                  Semestre requerida
                </div>
                <div *ngIf="registerForm.get('Semestre').errors['pattern']">
                  Semestre incorrecta
                </div>
                <div *ngIf="registerForm.get('Semestre').errors['min'] && !registerForm.get('Semestre').errors['pattern']">
                    Semestre incorrecto 
                  </div>
                  <div *ngIf="registerForm.get('Semestre').errors['max'] && !registerForm.get('Semestre').errors['pattern']">
                    Semestre incorrecto 
                  </div>
            </div>
        </div> 
        <div class="form-label-group">
            <label for="ejemplo">Ocupacion*</label>
            <input  type="text" class="form-control" name="Ocupacion" placeholder="Ingrese su Ocupacion" autofocus required formControlName="Ocupacion" maxlength="44">
            <div *ngIf="registerForm.get('Ocupacion').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('Ocupacion').errors['required']">
                  Ocupacion requerida
                </div>
                <div *ngIf="registerForm.get('Ocupacion').errors['pattern']">
                  Ocupacion incorrecta
                </div>
            </div>
        </div> 
        <div class="form-group">
            <label for="ejemplo">Contraseña*</label>
            <input type="Password" class= "form-control" name="Password" placeholder="Ingrese su Contraseña" formControlName= "Password">
            <div *ngIf="registerForm.get('Password').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('Password').errors['required']">
                  Contraseña requerida
                </div>
                <div *ngIf="registerForm.get('Password').errors['minlength']">
                  Contraseña incorrecta minimo 6 caracteres
                </div>
            </div>              
        </div>  
        <div class="form-group">
            <label for="ejemplo">Confirmar contraseña*</label>
            <input type="Password" class= "form-control" name="PasswordConfirm" placeholder="Confirmar contraseña" formControlName= "PasswordConfirm">
            <div *ngIf="registerForm.get('PasswordConfirm').errors" class="alert alert-danger">
                <div *ngIf="registerForm.get('PasswordConfirm').errors['required']">
                  Contraseña requerida
                </div>
                <div *ngIf="registerForm.get('PasswordConfirm').errors['minlength']">
                  Contraseña incorrecta minimo 6 caracteres
                </div>
            </div>    
            <div *ngIf="verifyPasswordConfirm() && !registerForm.get('PasswordConfirm').errors" class="alert alert-danger">
                Las contraseñas no coinciden
            </div>          
        </div> 
        <div class="form-label-group">
            <button [disabled]="!registerForm.valid" class="btn btn-block" id="btnLogin" (click)="addRegister(registerForm)"
              type="button">Registrar</button>
        </div>
    </form>
</body>