<body>
    <form action="." oninput="range_control_value.value = range_control.valueAsNumber">
        <p> Cedula: <input type="number" class="cedula_control" autofocus required /> </p>
        <p> Nombre: <input type="text" class="nombre_control" required/> </p>
        <p> Codigo: <input type="number" class="codigo_control" required/> </p>
        <p> Facultad: <input type="text" class="facultad_control" required/> </p>
        <p> Semestre: <input type="number" class="semestre_control" required/> </p>
        <p> Ocupacion: <input type="text" class="semestre_control" required/> </p>       
        <input type="submit" value="Registrarse" />    
    </form>
</body>